@forward './color';
@forward './font'; // font.scss에서 가져오는 CSS도 함께 forward 가능

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
